
./RoadArchitect-master/*.cs   linguist-language=false     
./RoadArchitect-master/*.cshtml  linguist-language=false 
./RoadArchitect-master/*.csx  linguist-language=false    
./RoadArchitect-master/*.sln  linguist-language=false    
./RoadArchitect-master/*.csproj   linguist-language=false
