# Auto detect text files and perform LF normalization
./games/*          text=auto

./games/*.cs       text diff=csharp
./games/*.cshtml   text diff=html
./games/*.csx      text diff=csharp
./games/*.sln      text eol=crlf
./games/*.csproj   text eol=crlf
